[submodule "pack/vim-fern/start/vim-fern"]
	path = pack/vim-fern/start/vim-fern
	url = https://github.com/lambdalisue/vim-fern.git
[submodule "pack/vim-fern-git-status/start/vim-fern-git-status"]
	path = pack/vim-fern-git-status/start/vim-fern-git-status
	url = https://github.com/lambdalisue/vim-fern-git-status.git
[submodule "pack/vim-signify/start/vim-signify"]
	path = pack/vim-signify/start/vim-signify
	url = https://github.com/mhinz/vim-signify.git
